$color-basic: #030303;
$font-basic: 'Avenir Next';
$font-button: 'Helvetica Neue';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $font-basic;
  color: $color-basic;
  font-weight: 300;
  line-height: 1.6;
}


#root {
  padding-top: 2rem;
  display: grid;
  grid-template-rows: 10rem min-content 5rem;
  grid-template-columns: [full-start] minmax(2rem, 4rem) [col-start] minmax(min-content, 1fr) [col-end] minmax(2rem, 4rem) [full-end];
}


.btn {
  background-color: #030303;
  color: white;
  height: 3rem;
  border: none;
  border-radius: 5rem;
  letter-spacing: 0.2rem;
  font-family: $font-button;
  font-weight: 200;
  font-size: 1.3rem;

  &__buy { width: 8rem; }

  &__send { width: 22rem; }

  &__login { width: 30rem; }

  &__switch {
    background-color: white;
    color: $color-basic;
    border: black 0.05rem solid;
    width: 30rem;
  }
}

.input {
  border: none;
  border-bottom: 0.2px black solid;
  font-size: 1.8rem;
  font-weight: 100;
  height: 3rem;
}
