$color-basic: #030303;
$font-basic: 'Avenir Next';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $font-basic;
  color: $color-basic;
  font-weight: 300;
  line-height: 1.6;
}


#root {
  padding-top: 2rem;
  display: grid;
  grid-template-rows: 10rem min-content 5rem;
  grid-template-columns: [full-start] minmax(2rem, 4rem) [col-start] minmax(min-content, 1fr) [col-end] minmax(2rem, 4rem) [full-end];
}
