
// basic
$color-basic: #222222;
$color-gray: #eeeeee;
$font-basic: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
$font-button: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
$transition: all 0.1s ease-out;
$opacity: 0.6;

// responsive breakpoints
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 55em; // 850px
$bp-small: 37.5em; //600px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $font-basic;
  color: $color-basic;
  font-weight: 300;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: $color-basic;
}

button:hover {
  opacity: $opacity;
}

#root {
  display: grid;
  grid-template-rows: 10rem min-content 5rem;
  grid-template-columns: [full-start] minmax(2rem, 4rem) [col-start] minmax(min-content, 1fr) [col-end] minmax(2rem, 4rem) [full-end];

  @media only screen and (max-width: $bp-small) {
    padding-top: 0;
    margin-top: -0.5rem;
    grid-template-columns: [full-start] minmax(1rem, 2rem) [col-start] minmax(min-content, 1fr) [col-end] minmax(1rem, 2rem) [full-end];
  }
}

.b_btn {
  background-color: #222222;
  color: white;
  height: 3rem;
  border: none;
  border-radius: 5rem;
  letter-spacing: 0.1rem;
  font-family: $font-button;
  font-weight: 200;
  font-size: 1.2rem;
  outline: none;
  cursor: pointer;
  transition: $transition;

  &__8rem { width: 8rem; }
  &__10rem { width: 10rem; }
  &__13rem { width: 13rem; }
  &__20rem { width: 20rem; }
  &__30rem { width: 30rem; }
}

.w_btn {
  background-color: white;
  color: $color-basic;
  border: black 0.05rem solid;
  height: 3rem;
  border-radius: 5rem;
  letter-spacing: 0.1rem;
  font-family: $font-button;
  font-weight: 200;
  font-size: 1.2rem;
  outline: none;
  cursor: pointer;
  transition: $transition;

  &__8rem { width: 8rem; }
  &__15rem { width: 15rem; }
  &__20rem { width: 20rem; }
  &__30rem { width: 30rem; }
  &__100 { width: 100%; }
  &__favorite {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    border: black 1px solid;
    width: 13rem;

    @mixin heart {
      height: 2rem;
      stroke-width: 65px;
      stroke: black;
      margin-right: 1rem;
    }

    &__nega { @include heart; fill: none; }
    &__posi { @include heart; fill: black; }
  }
}

.r_btn {
  background-color: white;
  color: crimson;
  border: crimson 0.05rem solid;
  height: 3rem;
  border-radius: 5rem;
  letter-spacing: 0.1rem;
  font-family: $font-button;
  font-weight: 200;
  font-size: 1.2rem;
  outline: none;
  cursor: pointer;
}

.input {
  border: none;
  border-bottom: 0.2px black solid;
  font-size: 1.5rem;
  font-weight: 100;
  outline: none;
  height: 3rem;
}

.text_input {
  border: 0.2px grey solid;
  font-size: 1.5rem;
  font-weight: 100;
  outline: none;
}

@mixin icon {
  border-radius: 50%;
  background: center no-repeat;
  background-size: cover;
}

.mb-1rem {
  margin-bottom: 1rem;
}

.mb-3rem {
  margin-bottom: 3rem;
}
