.nav {

  grid-column: col-start / col-end;

  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;

  font-size: 1.8rem;
  font-weight: 500;

  padding-bottom: 5rem;

  &__left {
    display: flex;
    justify-self: start;
    P { margin-right: 2rem; }
  }

  &__right {
    justify-self: end;

    display: flex;
    P { margin-left: 2rem; }
  }

  svg {
    height: 2.5rem;
    fill: #fff;
    stroke-width: 6rem;
    stroke: black;
  }
}
