.help {
  padding: 4rem 6rem 6rem 6rem;
  @media only screen and (max-width: 1000px) {
    padding: 0 0 0 0;
  }

  &__question {
    margin-top: 5rem;
  }

  &__answer {
    margin-left: 2rem;
    font-size: 1.15rem;
    line-height: 2rem;
  }
}
