.form_content {
  display: grid;
  justify-content: center;

  &__form {

    @media only screen and (max-width: $bp-small) { width: 75vw; }

    min-height: 40rem;
    height: 68vh;
    width: 40rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    h2 { margin-bottom: 3.5rem; }

    form {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      width: 100%;

      span { align-self: flex-end; cursor: pointer; font-size: 1.3rem; color: #777777; }

      label {
        width: 100%;
        margin-bottom: 4rem;
        &:last-of-type { margin-bottom: 1rem; }

        input { width: 100%; }
      }

      button { margin-top: 3rem; }
    }

    p { margin: 2rem 0; font-size: 1.8rem; }

    button { width: 100%; }
  }


}
