

.privacy {
  margin: 10rem auto;
  max-width: 500px;
  font-size: 1.2rem;

  &__chapter { margin-top: 2rem; }

  &__desc { margin-top: 1.5rem; }

  &__article {
    margin-top: 1.5rem;
    font-weight: bold;
  }

  &__sentence {
    display: block;
    margin-top: 1.5rem;
  }

  @media only screen and (max-width: $bp-medium) {

  }

}
