.terms {
  margin: 10rem auto;
  max-width: 500px;
  font-size: 1.2rem;

  &__chapter { margin-top: 2rem; }

  &__article {
    margin-top: 1.5rem;
    font-weight: bold;
  }

  span {
    display: block;
    margin-top: 1.5rem;
  }

  ol {
    margin-top: 1.5rem;
    margin-left: 1.3rem;
  }

  ul { margin-top: 1.2rem; }


  @media only screen and (max-width: $bp-medium) {

  }

}
