.terms {
  padding: 4rem 6rem 6rem 6rem;
  @media only screen and (max-width: 1000px) {
    padding: 0 0 0 0;
  }

  &__chapter {
    margin-left: 2rem;
    margin-top: 3rem;
  }

  &__article {
    margin-left: 5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
  }

  span { margin-left: 7rem; }

  ol { margin-left: 7rem; }

  ul { margin-left: 4rem; }


  @media only screen and (max-width: $bp-medium) {
      &__chapter {
      margin-left: 0rem;
      margin-top: 3rem;
    }

    &__article {
      margin-left: 1rem;
      margin-top: 0.5rem;
      margin-bottom: 0.2rem;
    }

    span { margin-left: 1rem; }

    ol { margin-left: 3rem; }

    ul { margin-left: 4rem; }
  }

}
