.terms {
  &__chapter {
    margin-left: 2rem;
    margin-top: 3rem;
  }

  &__article {
    margin-left: 5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
  }

  span { margin-left: 7rem; }

  ol { margin-left: 7rem; }

  ul { margin-left: 4rem; }

}
