h1 {
  font-family: 'Sacramento', cursive;
  font-weight: 100;
  font-size: 5rem;
}

h2 {
  font-family: $font-basic;
  color: $color-basic;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.6;
}
