@mixin commonTabStyle {
  text-align: center;
  cursor: pointer;
  border: 1px black solid;
  border-right: none;
  border-bottom: none;
  border-radius: 2rem 0 0 0;
  width: 100%;
  line-height: 3rem;
}

.userDetail {

  &__nav {
    display: flex;
    margin-bottom: 5rem;

    svg { height: 1.5rem; }

    &__others {
      @include commonTabStyle;
      background-color: #eee;
      border-color: #eeeeee;
      box-shadow: -3px -2px 22px 0px rgba(0, 0, 0, 0.1) inset
    }

    .del { color: #777777; }

    &__current {
      @include commonTabStyle;
      background-color: white;
      border: 1px #eeeeee solid;
      border-bottom: none;
    }
  }

  &__prime {
    &__iconForm {


      &__icon {
        @include icon;
        height: 20rem;
        width: 20rem;
      }
    }
  }

  &__workUpload {
    &__images {
      &__main {
        background: center no-repeat;
        background-size: contain;
        width: 30rem;
        height: 30rem;
      }

      &__subs div{
        background: center no-repeat;
        background-size: contain;
        width: 10rem;
        height: 10rem;
      }
    }
  }
}
