.workList {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, max-content));
  grid-gap: 5rem;
  justify-items: center;
  justify-content: space-between;
  align-items: end;

  .work {

    display: grid;

    p { font-size: 1.2rem; font-weight: 400; }

    img { max-width: 30rem; max-height: 30rem; }
  }
}
