.workList {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, max-content));
  grid-gap: 4rem;
  justify-items: center;
  justify-content: space-between;
  align-items: end;

  .work {

    display: grid;

    p { font-size: 1.2rem; font-weight: 400; }

    img { width: 100%; height: 100%; }
  }
}
